// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-family: 'Poppins', sans-serif;

// Color
$primary: #B64361;
$secondary: #FF9678;
$light: #FEBFAE;
$dark: #2A3950;
$background: #F6F6F6;